<h2>
  <div class="main-container">
    <div class="nav-container">
      <ul class="nav">
        <li><a [routerLinkActive]="'active'" routerLink="Home">Home</a></li>
        <li><a [routerLinkActive]="'active'" routerLink="About">About</a></li>
        <li>
          <a [routerLinkActive]="'active'" routerLink="Contact">Contact</a>
        </li>
        <li>
          <a [routerLinkActive]="'active'" routerLink="Courses">Courses</a>
        </li>
      </ul>
    </div>

    <router-outlet></router-outlet>
  </div>
</h2>
